MainScreen {
    background: #282a35;
    overflow-y: auto;
}

#description {
    border: double #6272a4;
    margin: 1 2;
    padding: 1 1 1 1;
    color: #8be9fd;
}

#menu-title{
    width: 100%;
    margin: 0 0 1 0;
    content-align: center middle;
    color: #8be9fd;
}

#menus {
    margin: 0 2 1 2;
    layout: grid;
    grid-size: 2;
    grid-gutter: 1 3;
    content-align: center middle;
    height: 50%;
}

.menu {
    width: 100%;
    height: 100%;
    content-align: center middle;
}

Button:focus {
    text-style: bold;
}
